<div class="container mt-3 col-md-8">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="container md-8">
                <div class="card-body">
                    <h2 class="card-title">Buscar Vuelos</h2>
                    <form (submit)="buscarVuelos()">
                        <div class="form-row d-flex flex-row mb-2 justify-content-evenly ">
                            <div class="form-group col-md-8">
                                <label for="origen">Origen</label>
                                <input type="text" class="form-control" [(ngModel)]="origen" name="origen" id="origen"
                                    placeholder="Ciudad de origen">

                                <label for="destino">Destino</label>
                                <input type="text" class="form-control" [(ngModel)]="destino" name="destino"
                                    id="destino" placeholder="Ciudad de destino">

                                <label for="fecha-ida">Fecha de Ida</label>
                                <input type="date" class="form-control" [(ngModel)]="fechaIda" name="fechaIda"
                                    id="fecha-ida">

                                <label for="fecha-vuelta">Fecha de Vuelta</label>
                                <input type="date" class="form-control" [(ngModel)]="fechaVuelta" name="fechaVuelta"
                                    id="fecha-vuelta">

                                <div class="form-group">
                                    <label for="pasajeros">Cantidad de Pasajeros</label>
                                    <input type="number" class="form-control" [(ngModel)]="pasajeros" name="pasajeros"
                                        id="pasajeros" placeholder="Número de pasajeros">
                                </div><br>
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-primary btn-block">Buscar <img
                                            src="assets/img/img6.png" alt="logo" style="max-width: 30px;"></button>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline">
                                <img src="assets/img/img6.png" alt="logo" style="width: 80px;">

                            </div>
                        </div>

                    </form>

                    <div *ngIf="mostrarError" class="alert alert-danger mt-3">
                        Todos los campos son obligatorios. Por favor, llénelos.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>