<div class="container mt-3 col-md-8">
  <div class="row">
    <div class="container col-8">
      <h2>Ticket de vuelo</h2>
      <div class="card p-3">
        <h5 class="card-title">Vuelo de Bogotá a París</h5>
        <div>
          <div>
            <p class="card-text">Precio: $6500</p>
            <p class="card-text">Aerolínea: Aerosena Airlines</p>
            <p class="card-text">Salida: Bogotá - BOGp>
            <p class="card-text">Llegada: París - CDG</p>
            <p class="card-text">Fecha: 2023-09-15</p>
            <p class="card-text">Hora: 15:00</p>
            <p class="card-text">Número de vuelo: XYZ123</p>
            <p class="card-text">Asiento: 7A</p>
            <p class="card-text">Pasajero: Cesar Sierra</p>
          </div>
          <div>
            <img src="assets/img/img3.jpg" alt="imagen"
              style="max-width: 50%; border-radius: 20px; box-shadow: 10px, red">
          </div>
        </div><br>

        <button class="btn btn-success">Descargar ticket</button>
      </div>
    </div>
  </div>
</div>